git+git://github.com/Rapptz/discord.py.git@async#egg=discord
discord
asyncio
random
threading
flask
time
async_timeout
websockets
ujson
requests
urllib.request
re
sys
aiohttp
datetime
datetime
urllib.parse
subprocess
string
hashlib
discord.utils
socket
