import discord
import asyncio
import os
from random import choice
from threading import Thread
from googletrans import Translator
from flask import Flask
from random import randint
import wolframalpha
import time
from async_timeout import timeout
import websockets
import ujson
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib.request
import re
import sys
import aiohttp
from datetime import datetime
import datetime
import imdb
import lyricwikia
import urllib.parse
from pyfiglet import Figlet
import random
import subprocess
import string
import hashlib
from discord.utils import get
import socket
