git+git://github.com/Rapptz/discord.py.git@async#egg=discord
discord
asyncio
os
random
threading
googletrans
flask
random
wolframalpha
time
async_timeout
websockets
ujson
requests
bs4
urllib.request
re
sys
aiohttp
datetime
datetime
imdb
lyricwikia
urllib.parse
pyfiglet
random
subprocess
string
hashlib
discord.utils
socket
